* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
  }

#construction{
  font-size: 7vw;
  margin-top: 300px;
  margin-bottom: 15px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
  width: 70%;
}