* {
    font-family: 'Roboto', sans-serif;
	font-size: 12px;	
  }

#sky {
	height: 50vh;
	width: vw;
	background-color: #B0BEC5;
}

#sea {
	height: 50vh;
	width: vw;
	background-color: #263238;	
}

#name {	
	position: relative;
	bottom: -39.33vh;
	font-size: 10vh;
	text-align: center;
	color: #FFFFFF;
}