* {
    font-family: 'Roboto', sans-serif;
	font-size: 12px;	
  }

#sky {
	height: 61.8vh;
	width: vw;
	background-color: #B0BEC5;
}

#sea {
	height: 38.2vh;
	width: vw;
	background-color: #263238;	
}

#name {
	font-size: 11.8vh;
	position: relative;
	top: 50vh;
	text-align: center;
	color: #FFFFFF;
	padding: 0px;
	height: auto;
}