* {
    font-family: 'Roboto', sans-serif;
    color: black;
  }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#blog_text {
  width: 70vw;
  margin-left: 15%;
  margin-right: 15%;
}

#subtitle {
  margin: 0px;
}

#date{
  margin: 0px;
}