* {
    font-family: 'Roboto', sans-serif;
    color: black;
  }

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #ED483E;
}

#blog_text {
  width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid;
  border-bottom: solid;
  padding-top: 15px;
  padding-bottom: 15px;
}

#title{
  color: #ED483E;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: bold;
}

#date{
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}

#nav_titles {
  font-size: 60px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table td {
  border: solid;
}

.bold {
  font-weight: bold;
}

.text_wrap_left {
  float: left;
  margin: 10px;
}

#footer {
  position:absolute;
  bottom:0;
  text-align: center;
  margin-bottom: 10px;
  color: #ED483E;
}